basic/hlt/__pycache__/networking.cpython-35.pyc
basic/hlt/__pycache__/game_map.cpython-35.pyc
basic/hlt/__pycache__/entity.cpython-35.pyc
basic/hlt/__pycache__/constants.cpython-35.pyc
basic/hlt/__pycache__/collision.cpython-35.pyc
basic/hlt/__pycache__/__init__.cpython-35.pyc
*.hlt
mlbot/README.MD
barnie/.idea/workspace.xml
barnie/.idea/modules.xml
barnie/.idea/misc.xml
barnie/.idea/inspectionProfiles/profiles_settings.xml
barnie/.idea/barnie.iml
barnie/hlt/__pycache__/networking.cpython-35.pyc,barnie/hlt/__pycache__/game_map.cpython-35.pyc,barnie/hlt/__pycache__/entity.cpython-35.pyc,barnie/hlt/__pycache__/constants.cpython-35.pyc,barnie/hlt/__pycache__/collision.cpython-35.pyc,barnie/hlt/__pycache__/__init__.cpython-35.pyc
barnie/hlt/__pycache__/

basic/.idea/
*/.idea/*
*/__pycache__/*
mlbot/tsmlstarterbot/__pycache__/neural_net.cpython-35.pyc
mlbot/tsmlstarterbot/__pycache__/common.cpython-35.pyc
mlbot/tsmlstarterbot/__pycache__/bot.cpython-35.pyc
mlbot/tsmlstarterbot/__pycache__/__init__.cpython-35.pyc
mlbot/hlt/__pycache__/networking.cpython-35.pyc
mlbot/hlt/__pycache__/game_map.cpython-35.pyc
mlbot/hlt/__pycache__/entity.cpython-35.pyc
mlbot/hlt/__pycache__/constants.cpython-35.pyc
mlbot/hlt/__pycache__/collision.cpython-35.pyc
mlbot/hlt/__pycache__/__init__.cpython-35.pyc

\.ipynb_checkpoints/

*.ipynb
*.vec
*.results
*.json

*.weights

*.output
barnie/v1/__pycache__/NeuralNet2.cpython-35.pyc
barnie/v1/__pycache__/Bot.cpython-35.pyc
